/* Desktop View*/

@media screen and (min-width: 800px) {
  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }
  
  /* Site NavBar */
  
  nav {
    height: 6vw;
    z-index: 10;
  }
  
  .COHeader {
    height: 100%;
    width: 10vw;
    background-color: #ADC742;
    position: absolute;
    top: 0vw;
    left: 22vw;
    text-align: center;
  }
  
  .COHeader a {
    color: white !important;
    margin-top: 1.7vw;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2vw;
    font-weight: bold;
  }

  .ConnectionLinks {
    position: relative;
    display: block;
    float: right;
    margin-left: 5vw;
    text-align: center;
  }

  .ConnectionLinks li.RegisterLink {
    border: 0.1vw solid #D693C0;
    border-radius: 4vw; 
  }

  nav .container div.collapse ul.navbar-nav > li {
    margin-left: 0.5vw;
    margin-top: 1vw;
    border-top: 0.2vw solid #5E6269;
  }

  nav .container div.collapse ul.navbar-nav > li.active {
    margin-left: 0.5vw;
    margin-top: 1vw;
    border-top: 0.2vw solid #ADC742;
  }

  nav .container div.collapse ul.navbar-nav > li.active > a {
    color: #ADC742 !important;
  }

  nav .container div.collapse ul.navbar-nav > li:hover {
    margin-left: 0.5vw;
    margin-top: 1vw;
    border-top: 0.2vw solid #ADC742;
  }

  nav .container div.collapse ul.navbar-nav > li:hover a {
    color: #ADC742 !important;
    margin-top: 0.25vw;
  }

  nav .container li a {
    color: #5E6269 !important;
  }
  
  /*Register Page*/
  
  /*Personal Details*/
  
  .RegisterStatus {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  .RegisterStatus img {
    width: 38vw;
    height: 2.5vw;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
  }

  .ProfileName {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 1.5vw;
  }
  
  .PersonalDetails {
    width: 50%;
    position: relative;
    display: block;
    float: right;
  }

  div.PersonalDetails .form-group label {
    width: 30%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
  }
  
  div.PersonalDetails .form-group input {
    width: 70%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
    border-color: #329258;
  }
  
  .SizeArea {
    width: 70%;
    border-color: #329258;
    background-color: white;
  }
  
  .AboutMe {
    width: 70%;
    border-color: #329258;
  }
  
  /*Upload Image*/
  
  .UploadImage {
    width: 50%;
    position: relative;
    display: block;
    float: right;
  }
  
  .UploadImage #profileimg {
    display:none;
  }
  
  .ProfileImage {
    width: 22vw;
    height: 22vw;
  }
  
  /*Spinner Loader*/
  
  .SpinnerHolder {
    text-align: center;
  }
  
  .SpinnerHolder .Spinner1 {
    width: 3vw;
    height: 3vw;
    animation-delay: 0.5s;
  }
  
  .SpinnerHolder .Spinner2 {
    width: 3vw;
    height: 3vw;
    animation-delay: 1s;
  }
  
  .SpinnerHolder .Spinner3 {
    width: 3vw;
    height: 3vw;
    animation-delay: 1.5s;
  }
  
  /*User register choice*/
  
  .UserTypesHolder {
    text-align: center;
    position: relative;
    display: block;
    position: relative;
  }
  
  .UserTypesHolder .UserTypesButton {
    text-align: center;
    margin: 5vw;
  }
  
  .UserTypesHolder .UserTypesHeader {
    text-align: center;
    margin-top: 15vw;
    font-size: 1.93vw;
  }
  
  /*vegetables*/
  
  .vegetables {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  
  .vegetablesOpen {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    background-color: #E4FBDC;
    border-radius: 4vw;
  }
  
  .vegetables h3 {
    margin-bottom: 2vw;
  }
  
  .vegetablesList {
    width: 100%;
    margin-bottom: 1vw;
  }
  
  .vegetablesList li {
    position: relative;
    display: block;
    float: right;
    border: none;
    background-color: #E4FBDC;
  }
  
  .vegetablesList li span {
    position: relative;
    display: block;
    float: right;
  }
  
  .vegetablesList li span.vegetablesItemName {
    margin-right: 0.5vw;
  }
  
  .vegetablesApproveButton {
    margin-bottom: 1vw;
  }
  
  /* List Of Veg Cost */
  
  .ListOfVegCost {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  .ListOfVegCost p {
    margin-right: auto;
    margin-left: auto;
  }
  
  .ChoosenVegetablesList {
    position: relative;
    display: block;
    float: right;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .ChoosenVegetablesList li {
    position: relative;
    display: block;
    float: right;
    text-align: center;
    width: 100%;
    border: none;
  }
  
  .ChoosenVegetablesList span {
    position: relative;
    display: block;
    float: right;
    text-align: center;
  }
  
  .ChoosenVegetablesList span img.ChoosenVegetableImage {
    margin-left: 0.5vw;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetablePrice {
    width: 6vw;
    margin-left: 0.5vw;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetableName {
    margin-left: 1vw;
    width: 8vw;
    text-align: right;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetabletext {
    margin-left: 0.5vw;
  }
  
  /* Plan cards */
  
  .Plans {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }
  
  .Plans div.PlanCard {
    width: 29.3%;
    position: relative;
    display: block;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .Plans div.PlanCard div.PlanCardHeader {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div.Card1Image {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div img.PlanHeaderVegetableImage {
    width: 100%;
    height: 25vw;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div .form-check-label {
    position: absolute;
    display: block;
    top: 1vw;
    right: 1vw;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div span.PlanTitle {
    text-align: center;
    position: absolute;
    display: block;
    right: 27.5%;
    bottom: -2%;
    width: 45%;
    background-color: #7ECCC5;
    color: white;
    font-size: 1.20vw;
    z-index: 10;
  }
  
  .Plans div.PlanCard div.PlanCardBody {
    width: 100%;
    height: 15vw;
    position: relative;
    display: block;
    float: right;
    margin-top: 5vw;
    background-color: #D5F3F0;
    text-align: center;
    font-size: 0.83vw;
    border-radius: 2vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-top: 1vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel span {
    vertical-align: -webkit-baseline-middle;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel .form-check-label {
    width: 3vw;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails span.CardDetailsHeader {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 0.5vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails div.PlanIncludeSection {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails div.PlanIncludeSection span.PlanVegetableImage {
    margin-right: 5vw;
    margin-left: 1vw;
  }
  
  /* Approve Regulations */
  
  .ApproveRegulations {
    display: block;
    position: relative;
    float: right;
    width: 100%;
  }
  
  .ApproveRegulations div.RegulationsCheckBox {
    display: block;
    position: relative;
    float: right;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  
  .ApproveRegulations div.RegulationsLink {
    display: block;
    position: relative;
    float: right;
  }
  
  /* Screen buttons */
  
  .MoveToPaymentScreenButton {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 1vw;
  }
  
  .MoveToPaymentScreenButton button {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .MoveToSecondPaymentScreenButton {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 1vw;
  }
  
  .MoveToSecondPaymentScreenButton button {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .RegisterButtonContainer button.RegisterButton {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  .RegisterButtonContainer {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 9vw;
  }
  
  
  /* Recive Payment */
  
  .BankCollectPaymentContainer {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 5vw;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    background-color: #DDF4D5;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 4vw;
    overflow: hidden;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment span.RecivePaymentHeader {
    display: block;
    width: 100%;
    position: relative;
    float: right;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #329258;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group {
    line-height: 0vw;
    height: 3vw;
    width: 100%;
    display: block;
    position: relative;
    float: right;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.bankDetails {
    width: 100%;
    display: block;
    position: relative;
    float: right;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.bankname {
    width: 48%;
    display: block;
    position: relative;
    float: right;
    margin-left: 2%;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.banknumber {
    width: 48%;
    display: block;
    position: relative;
    float: right;
    margin-right: 2%;
  }
  
  /* Farmer Submission MSG page */
  
  .FarmerSubmissionMSGHolder {
    width: 100%;
    display: block;
    position: relative;
    float: right;
    margin-top: 5vw;
    text-align: center;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGHeader {
    width: 100%;
    display: block;
    position: relative;
    float: right;
    margin-bottom: 1vw;
    font-size: 1.8vw;
    font-weight: bold;
    color: black;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGButtonHolder {
    display: block;
    position: relative;
    float: right;
    width: 100%;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGButtonHolder a.FarmerSubmissionMSGButton {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    margin-top: 1vw;
  }

  /* Grower register page*/ 
  
  .Growersizearea {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  .Growersizearea div.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .Growersizearea div.form-group label {
    display: block;
    position: relative;
    float: right;
    margin-left: 1vw;
  }

  .Growersizearea div.form-group select {
    display: block;
    position: relative;
    float: right;
  }

  .Plans div.PlanCard div.PlanCardBody div.CardDetails span.GrowerCardDetailsHeader {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 0.5vw;
    margin-top: 1.5vw;
  }

  .FarmerListContent {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }

  .FarmerListContent .container {
    width: 100%;
  }

  .FarmerListContent .container div.ListOfFarmersByArea {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }

  .FarmerListContent div.container > li {
    background-color: #CCEEC0;
  }

  .FarmerListContent div.container > li:nth-child(odd) {
    background-color: E4FBDC;
  }

  .FarmerListContent div.container li div.FarmerList {
    width: 100%;
    text-align: right;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListRadioBtn {
    width: 4%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListImage {
    width: 10%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListImage img.FarmerThemeImage {
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 3.5vw;
    height: 3.5vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListName {
    width: 14%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListAboutme {
    width: 20%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListchoosenvegetables {
    width: 20%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListplans {
    width: 20%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent div.container li div.FarmerList div.FarmerListplans {
    width: 25%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }
  
  .FarmerListContent div.container li div.FarmerList div.FarmerListReadMore {
    width: 7%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.2vw;
  }

  .FarmerListContent .container div.GrowerMainPicking {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  .FarmerListContent .container div.GrowerVegContainer2 {
    width: 50%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul {
    width: 80%;
    text-align: right;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li {
    background-color: #CCEEC0;
    padding: 0;
    width: 100%;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li:nth-child(odd) {
    background-color: #E4FBDC;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerVegHolder {
    width: 33.3%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.3vw;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerChoosenVegAVGPrice {
    width: 33.3%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    margin-top: 1.5vw;
    text-align: center;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerChoosenVegMoreInfo {
    width: 33.3%;
    position: relative;
    display: block;
    float: right;
    padding-left: 0.3vw;
    margin-top: 1.5vw;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerChoosenVegMoreInfo span.GrowerChoosenVegMoreInfoIMG {
    width: 30%;
    position: relative;
    display: block;
    float: right;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerChoosenVegMoreInfo span.GrowerChoosenVegMoreInfoIMG img {
    width: 1.2vw;
    height: 1.2vw;
  }

  .FarmerListContent .container div.GrowerVegContainer2 > ul > li div.GrowerChoosenVegMoreInfo span.GrowerChoosenVegMoreInfoText {
    width: 70%;
    position: relative;
    display: block;
    float: right;
  }

  .FarmerListContent .container div.GrowerFieldsGroupsContainer {
    width: 50%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }

  .FarmerListContent .container div.GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection {
    width: 80%;
    position: relative;
    display: block;
    float: left;
    margin-bottom: 2vw;
    text-align: center;
  }

  div.GrowerMainPickingTitle {
    text-align: center;
    height: 3vw;
    padding-top: 0.75vw;
    background-color: #98D084;
  }

  div.FarmerListTitle {
    text-align: right;
    height: 2vw;
    padding-top: 0.5vw;
    font-weight: bold;
  }

  .FarmerListContent .container div.ListOfFarmersByArea ul > li.FarmerListTitleListItem{
    background-color: #98D084;
  }

  div.FarmerListTitle div.FarmerListTitleText1 {
    width: 28%;
    position: relative;
    display: block;
    float: right;
  }

  div.FarmerListTitle div.FarmerListTitleText2 {
    width: 20%;
    position: relative;
    display: block;
    float: right;
  }

  div.FarmerListTitle div.FarmerListTitleText3 {
    width: 20%;
    position: relative;
    display: block;
    float: right;
  }

  div.FarmerListTitle div.FarmerListTitleText4 {
    width: 32%;
    position: relative;
    display: block;
    float: right;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div.GrowerHelka1 {
    width: 25%;
    position: relative;
    display: block;
    float: right;
    background-color: #E38788;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div.GrowerHelka2 {
    width: 25%;
    position: relative;
    display: block;
    float: right;
    background-color: #A8E5E8;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div.GrowerHelka3 {
    width: 25%;
    position: relative;
    display: block;
    float: right;
    background-color: #F3E990;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div.GrowerHelka4 {
    width: 25%;
    position: relative;
    display: block;
    float: right;
    background-color: #98D085;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div span.GrowerHelkaName {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 2vw;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div span.GrowerHelkaAmount {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-top: 2vw;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div span.GrowerHelkaTotal {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-top: 2vw;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsSection div span.GrowerHelkaTotalPrice {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }

  .GrowerFieldsGroupsContainer div.GrowerFieldsGroupsContainerExample {
    width: 80%;
    position: relative;
    display: block;
    float: left;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0.5vw;
  }

  .GrowerVegContainer2 div.GrowerVegContainer2Example {
    width: 80%;
    position: relative;
    display: block;
    float: right;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0.5vw;
    padding-right: 40px;
  }

  /* Total Billing */

  .GrowerFinalBilling {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-top: 3vw;
    text-align: right;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer {
    width: 70%;
    position: relative;
    display: block;
    float: right;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer div.GrowerFinalBillingExample {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    padding-right: 40px;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    list-style: none;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection > li {
    background-color: #CCEEC0;
    padding: 0;
    width: 100%;
    height: 2vw;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection > li:nth-child(odd) {
    background-color: #E4FBDC;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection > li.GrowerFinalBillingMainHeader1 {
    background-color: #98D084;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection > li.GrowerFinalBillingMainHeader2 {
    background-color: #98D084;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection li span.GrowerFinalBillingItemName {
    width: 40%;
    position: relative;
    display: block;
    float: right;
    padding-right: 0.5vw;
    padding-top: 0.3vw;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection li span.GrowerFinalBillingItemPrice {
    width: 15%;
    position: relative;
    display: block;
    float: right;
    padding-right: 0.5vw;
    padding-top: 0.3vw;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection li span.GrowerFinalBillingItemAmount {
    width: 15%;
    position: relative;
    display: block;
    float: right;
    padding-right: 0.5vw;
    padding-top: 0.3vw;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection li span.GrowerFinalBillingItemTotal {
    width: 15%;
    position: relative;
    display: block;
    float: right;
    padding-right: 0.5vw;
    padding-top: 0.3vw;
  }

  .GrowerFinalBilling div.GrowerFinalBillingContainer ul.GrowerFinalBillingSection li span.GrowerFinalBillingItemBullingType {
    width: 15%;
    position: relative;
    display: block;
    float: right;
    padding-right: 0.5vw;
    padding-top: 0.3vw;
  }

  .PlansAlert {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.4vw;
  }

  /* Grower Personal area */


  div.PersonalDetails .personal-form-group {
    width: 100%;
    float: right;
    margin-bottom: 0vw;
    position: relative;
    display: block;
  }
  
  div.PersonalDetails .personal-form-group label {
    width: 30%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
  }

  div.PersonalDetails .personal-form-group input {
    width: 70%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
    border-color: #329258;
  }

  .RegisterDate {
    text-align: right;
    width: 70%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 1.5vw;
  }

  .CurrentPlan {
    text-align: right;
    width: 70%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 1.5vw;
  }

  .PersonalChoosenVeg {
    text-align: right;
    width: 70%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 1.5vw;
  }

  .PersonalChoosenVeg div.PersonalChoosenVegItem {
    text-align: right;
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }

  .PersonalChoosenVeg div.PersonalChoosenVegItem span.PersonalChoosenVegItemImage {
    width: 5%;
    position: relative;
    display: block;
    float: right;
  }

  .PersonalChoosenVeg div.PersonalChoosenVegItem span.PersonalChoosenVegItemName {
    width: 95%;
    position: relative;
    display: block;
    float: right;
  }

  .PersonalChoosenFarmer {
    text-align: right;
    width: 70%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 1.5vw;
  }

  .PersonalChoosenFarmer span {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 0.5vw;
  }

  .PersonalChoosenFarmer span img {
    margin-left: 0.5vw;
  }

  .GrowerPersonalAreaTabs {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 5vw;
    margin-top: 2vw;
  }

  .GrowerPersonalAreaTabs .GrowerPersonalAreaTabsButtons {
    width: 70%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .GrowerPersonalAreaTabs .GrowerPersonalAreaTabsButtons button{
    margin-left: 3vw;
    width: 40%;
  }

  .RegisterButtonContainer Button.UpdateDetails {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
  }
}


/* Mobile and tablet View */ 

@media screen and (max-width: 580px) {
  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }
  
  /* Site NavBar */
  
  nav {
    z-index: 10;
  }
  
  .COHeader {
    
  }
  
  .COHeader a {
    
  }
  
  /*Register Page*/
  
  /*Personal Details*/
  
  .ProfileName {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 1.5vw;
  }
  
  .PersonalDetails {
    width: 50%;
    position: relative;
    display: block;
    float: right;
  }
  
  div.PersonalDetails .form-group label {
    width: 30%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
  }
  
  div.PersonalDetails .form-group input {
    width: 70%;
    float: right;
    text-align: right;
    position: relative;
    display: block;
    border-color: #329258;
  }
  
  .SizeArea {
    width: 70%;
    border-color: #329258;
    background-color: white;
  }
  
  .AboutMe {
    width: 70%;
    border-color: #329258;
  }
  
  /*Upload Image*/
  
  .UploadImage {
    width: 50%;
    position: relative;
    display: block;
    float: right;
  }
  
  .UploadImage #profileimg {
    display:none;
  }
  
  .ProfileImage {
    width: 22vw;
    height: 22vw;
  }
  
  /*Spinner Loader*/
  
  .SpinnerHolder {
    text-align: center;
  }
  
  .SpinnerHolder .Spinner1 {
    width: 3vw;
    height: 3vw;
    animation-delay: 0.5s;
  }
  
  .SpinnerHolder .Spinner2 {
    width: 3vw;
    height: 3vw;
    animation-delay: 1s;
  }
  
  .SpinnerHolder .Spinner3 {
    width: 3vw;
    height: 3vw;
    animation-delay: 1.5s;
  }
  
  /*User register choice*/
  
  .UserTypesHolder {
    text-align: center;
    position: relative;
    display: block;
    position: relative;
  }
  
  .UserTypesHolder .UserTypesButton {
    text-align: center;
    margin: 5vw;
  }
  
  .UserTypesHolder .UserTypesHeader {
    text-align: center;
    margin-top: 15vw;
    font-size: 1.93vw;
  }
  
  /*vegetables*/
  
  .vegetables {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  
  .vegetablesOpen {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    background-color: #E4FBDC;
    border-radius: 4vw;
  }
  
  .vegetables h3 {
    margin-bottom: 2vw;
  }
  
  .vegetablesList {
    width: 100%;
    margin-bottom: 1vw;
  }
  
  .vegetablesList li {
    position: relative;
    display: block;
    float: right;
    border: none;
    background-color: #E4FBDC;
  }
  
  .vegetablesList li span {
    position: relative;
    display: block;
    float: right;
  }
  
  .vegetablesList li span.vegetablesItemName {
    margin-right: 0.5vw;
  }
  
  .vegetablesApproveButton {
    margin-bottom: 1vw;
  }
  
  /* List Of Veg Cost */
  
  .ListOfVegCost {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  .ListOfVegCost p {
    margin-right: auto;
    margin-left: auto;
  }
  
  .ChoosenVegetablesList {
    position: relative;
    display: block;
    float: right;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .ChoosenVegetablesList li {
    position: relative;
    display: block;
    float: right;
    text-align: center;
    width: 100%;
    border: none;
  }
  
  .ChoosenVegetablesList span {
    position: relative;
    display: block;
    float: right;
    text-align: center;
  }
  
  .ChoosenVegetablesList span img.ChoosenVegetableImage {
    margin-left: 0.5vw;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetablePrice {
    width: 6vw;
    margin-left: 0.5vw;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetableName {
    margin-left: 1vw;
    width: 8vw;
    text-align: right;
  }
  
  .ChoosenVegetablesList span.ChoosenVegetabletext {
    margin-left: 0.5vw;
  }
  
  /* Plan cards */
  
  .Plans {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 2vw;
  }
  
  .Plans div.PlanCard {
    width: 29.3%;
    position: relative;
    display: block;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .Plans div.PlanCard div.PlanCardHeader {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div.Card1Image {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div img.PlanHeaderVegetableImage {
    width: 100%;
    height: 25vw;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div .form-check-label {
    position: absolute;
    display: block;
    top: 1vw;
    right: 1vw;
  }
  
  .Plans div.PlanCard div.PlanCardHeader div span.PlanTitle {
    text-align: center;
    position: absolute;
    display: block;
    right: 27.5%;
    bottom: -2%;
    width: 45%;
    background-color: #7ECCC5;
    color: white;
    font-size: 1.20vw;
    z-index: 10;
  }
  
  .Plans div.PlanCard div.PlanCardBody {
    width: 100%;
    height: 15vw;
    position: relative;
    display: block;
    float: right;
    margin-top: 5vw;
    background-color: #D5F3F0;
    text-align: center;
    font-size: 0.83vw;
    border-radius: 2vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-top: 1vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel span {
    vertical-align: -webkit-baseline-middle;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardCost div.CardCostLabel .form-check-label {
    width: 3vw;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails {
    width: 100%;
    position: relative;
    display: block;
    float: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails span.CardDetailsHeader {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    margin-bottom: 0.5vw;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails div.PlanIncludeSection {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    text-align: right;
  }
  
  .Plans div.PlanCard div.PlanCardBody div.CardDetails div.PlanIncludeSection span.PlanVegetableImage {
    margin-right: 5vw;
    margin-left: 1vw;
  }
  
  /* Approve Regulations */
  
  .ApproveRegulations {
    display: block;
    position: relative;
    float: right;
    width: 100%;
  }
  
  .ApproveRegulations div.RegulationsCheckBox {
    display: block;
    position: relative;
    float: right;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  
  .ApproveRegulations div.RegulationsLink {
    display: block;
    position: relative;
    float: right;
  }
  
  /* Screen buttons */
  
  .MoveToPaymentScreenButton {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 1vw;
  }
  
  .MoveToPaymentScreenButton button {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .MoveToSecondPaymentScreenButton {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 1vw;
  }
  
  .MoveToSecondPaymentScreenButton button {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .RegisterButtonContainer button.RegisterButton {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  .RegisterButtonContainer {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 9vw;
  }
  
  
  /* Recive Payment */
  
  .BankCollectPaymentContainer {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 5vw;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    background-color: #DDF4D5;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 4vw;
    overflow: hidden;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment span.RecivePaymentHeader {
    display: block;
    width: 100%;
    position: relative;
    float: right;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #329258;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group {
    line-height: 0vw;
    height: 3vw;
    width: 100%;
    display: block;
    position: relative;
    float: right;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.bankDetails {
    width: 100%;
    display: block;
    position: relative;
    float: right;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.bankname {
    width: 48%;
    display: block;
    position: relative;
    float: right;
    margin-left: 2%;
  }
  
  .BankCollectPaymentContainer div.BankCollectPayment div.payment-form-group div.banknumber {
    width: 48%;
    display: block;
    position: relative;
    float: right;
    margin-right: 2%;
  }
  
  /* Farmer Submission MSG page */
  
  .FarmerSubmissionMSGHolder {
    width: 100%;
    display: block;
    position: relative;
    float: right;
    margin-top: 5vw;
    text-align: center;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGHeader {
    width: 100%;
    display: block;
    position: relative;
    float: right;
    margin-bottom: 1vw;
    font-size: 1.8vw;
    font-weight: bold;
    color: black;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGButtonHolder {
    display: block;
    position: relative;
    float: right;
    width: 100%;
  }
  
  .FarmerSubmissionMSGHolder div.FarmerSubmissionMSGButtonHolder a.FarmerSubmissionMSGButton {
    color: white;
    background-color: #7ECCC5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    margin-top: 1vw;
  }
}
